//设计稿尺寸大小，假如设计稿宽度750
$baseDesignWidth: 37.5;

@function pxToRem($val) {
  @return $val / $baseDesignWidth * 1rem;
}

.tab-bar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f5f5f5;
}

.tab-bar-item {
  flex: 1;
  height: pxToRem(42);
  font-size: pxToRem(17);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tab-bar-item-active {
  color: #ffa500;
}

.tab-bar-item-emphasize {
  width: pxToRem(16);
  height: pxToRem(3);
  background-color: #ffa500;
  border-radius: pxToRem(2);
  position: absolute;
  bottom: 0;
  animation: active 100ms;
}

@keyframes active {
  from {
    width: 0;
  }
  to {
    width: pxToRem(16);
  }
}
