.navbar {
    width: 200px;
    height: 100%;
    padding-top: 30px;
    padding-left: 50px;
    position: absolute;
    left: 0;
    top: 0;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 70px;
    font-size: 24px;
    color: blue;
}

a {
    text-decoration: none;
    color: cornflowerblue; 
}

a:hover {
    color: indianred;
}

li .active {
    color: indianred;
}

.navbar-mine {
    padding-top: 30px;
    padding-left: 30px;
}

.navbar-mine li {
    height: 50px;
    font-size: 22px;
}